@using CoWorking.Models
@model IQueryable<Device>

<html>
<head>
    <meta charset="UTF-8">

</head>
<body>

    <form asp-action="@Url.Action("IndexDevice", "DeviceTable")">
        <h3>Список девайсов</h3>
        <br>

        <a asp-controller="DeviceTable" asp-action="AddDevice">Добавить девайс</a>
        <br><br>

        <table class="table">
            <tr>
                <th>Номер девайса</th>
                <th>Название девайса</th>


            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceName)
                    </td>

                    <td>
                        <input asp-controller="DeviceTable" type="submit" asp-route-id="@item.DeviceId" name="DeleteDevice" value="Удалить" class="btn btn-danger" />
                    </td>
                </tr>
            }
        </table>
    </form>
    <div>
        <a asp-controller="AdminPanel" asp-action="AdminPanel">Вернуться назад</a>
    </div>



</body>
</html>