@using CoWorking.Models
@model IQueryable<Worker>

<html>
<head>
    <meta charset="UTF-8">

</head>
<body>

    <form asp-action="@Url.Action("IndexWorkers", "WorkersTable")">
        <h3>Список работников</h3>
        <br>


        <table class="table">
            <tr>
                <th>Номер работника</th>
                <th>Логин</th>
                <th>Номер роли</th>


            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>

                </tr>
            }
        </table>
    </form>
    <div>
        <a asp-controller="AdminPanel" asp-action="AdminPanel">Вернуться назад</a>
    </div>

</body>
</html>